@page "/"

@inject QNgo.EK.Engine.TurnEngine _engine;

<h1>Hello, world!</h1>

Welcome to your new app.
<PlayingHand Cards="_cards" />
<PlayingCard Model="_cards.First()" IsFlipped="_isFlipped">
    <FrontFace>
        <div class="card-face d-flex justify-content-between flex-column">
            <span class="card-title">@context.Name</span>
            <img class="card-image" src="http://petslady.com/sites/default/files/inline-images/taco%201_0.jpg" alt="Card image">
            <span class="card-description text-muted">@context.Description</span>
        </div>
    </FrontFace>
    <BackFace>
        <div class="card-face">
            <h6 class="card-title">This is the back</h6>
        </div>
    </BackFace>
</PlayingCard>


<button @onclick="Go">Go</button>
<button @onclick="() => _isFlipped = !_isFlipped">Flip</button>

@code {
    private bool _isFlipped;
    private List<QNgo.EK.Abstractions.ICard> _cards = new List<Abstractions.ICard>
{
        new QNgo.EK.Engine.Card(1, QNgo.EK.Abstractions.CardFamily.Skip, "Skip", "End your turn without drawing a card."),
        new QNgo.EK.Engine.Card(5, QNgo.EK.Abstractions.CardFamily.Filler1, "Taco Cat", "Does nothing."),
        new QNgo.EK.Engine.Card(6, QNgo.EK.Abstractions.CardFamily.Filler1, "Taco Cat", "Does nothing.")
    };

    private async void Go()
    {
        await _engine.StartGameAsync();
    }
}