<div class="actionable @(IsExpanded ? "expanded" : string.Empty)">
    @Content
    <div class="actions d-flex justify-content-center">
        @Actions
    </div>
</div>

@code {
    [Parameter]
    public bool IsExpanded { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }
}
