<div class="card-face">
    <img src="https://media.istockphoto.com/vectors/abstract-light-gray-background-vector-id947659528?k=6&m=947659528&s=170667a&w=0&h=Odhu3nuS2c835CLonOW4sADfJj_WkiHQhSEGDS00QQc=" />
</div>