<div class="card" @onclick="Click">
    <div class="front-content d-flex justify-content-between flex-column">
        <h6 class="card-title">@Model.Name</h6>
        <img class="card-image" src="http://petslady.com/sites/default/files/inline-images/taco%201_0.jpg" alt="Card image">
        <small class="text-muted">@Model.Description</small>
    </div>
</div>

@code {
    [Parameter]
    public QNgo.EK.Abstractions.ICard Model { get; set; }

    [Parameter]
    public Action Click { get; set; }
}
