@typeparam T

<div class="playing-hand d-flex align-items-end">
    @foreach (var card in Cards)
    {
        @CardTemplate(card)
    }
</div>

@code {
    [Parameter]
    public ICollection<T> Cards { get; set; } = new List<T>();

    [Parameter]
    public RenderFragment<T> CardTemplate { get; set; }
}
