<div class="@CssClass" @onclick="Click">
    @if (!_isFrontObfuscated)
    {
        <div class="front-content">
            @FrontFace
        </div>
    }
    <div class="back-content">
        @BackFace
    </div>
</div>

@code {
    private bool _isFlipped;
    private bool _isFrontObfuscated;

    [Parameter]
    public RenderFragment FrontFace { get; set; }

    [Parameter]
    public RenderFragment BackFace { get; set; }

    [Parameter]
    public bool IsFlipped
    {
        get => _isFlipped;
        set
        {
            if (_isFlipped == value)
                return;

            _isFlipped = value;
            UpdateFlipStates();
        }
    }

    [Parameter]
    public Action Click { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

    protected string CssClass
    {
        get
        {
            var coreClass = $"card{(IsFlipped ? " flipped" : string.Empty)}";

            if (AdditionalAttributes != null &&
                AdditionalAttributes.TryGetValue("class", out var @class) &&
                !string.IsNullOrEmpty(Convert.ToString(@class)))
                return $"{@class} {coreClass}";

            return coreClass;
        }
    }

    private async void UpdateFlipStates()
    {
        if (!IsFlipped)
        {
            _isFrontObfuscated = false;
            return;
        }

        await Task.Delay(300); // 0.3s to match css flip animation
        _isFrontObfuscated = true;
        StateHasChanged();
    }
}
